.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}


body {
    background-color: white;
}

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid brown; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

.hero-img img {
    width: 1600px;
    height: 674px;
    /* display: block; */
}

#banner {
    margin-top: 16px;
    height: 674px;
    width: 1536px;
    background-image: url(./assets/hero-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-content: center;
    justify-items: center;
}

/* }
.banner-content {
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
    display: inline;
} */

#notes .note-container {
    width: 71%;
    max-width: 1360;
    margin: 0 auto;
    align-items: center;
}

.note-title {
    max-width: 1360px;
}

.note-title h2 {
    text-align: center;
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: bold;
}

.note-title p {
    text-align: center;
    margin-bottom: 44px;
    font-size: 16px;

}

.note-cards {
    display: flex;
    max-width: 89%;
    align-items: center;
    gap: 24px;

}

.cards {
    background-color: #ffffff;
    max-width: 322px;
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000016;
    align-items: center;

}

.icon-circle {
    width: 60px;
    height: 60px;
    background: #F95555;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle img {
    width: 28px;
    height: auto;
}

#knowledge .k-container {
    width: 89%;
    max-width: 1360px;
    height: 480px;
    text-align: center;
    display: flex;
    margin: 120px 120px 0px 120px;

}

.k-img img {
    height: 480px;
    width: 480px;
    border-radius: 12px;
    position: left;
}

.k-text {
    width: 820px;
    text-align: left;
    align-items: center;
    margin: 42px 0px 42px 60px;


}


.items {
    display: flex;
    align: left;
}

.items img {
    margin-right: 6px;
}

#cap {
    font-size: 16px;
    margin-bottom: 16px;
    color: #469165;
}

.k-text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
}

#para {
    font-size: 1;

    margin-bottom: 40px;
    color: #001931;
}

.items {
    margin-bottom: 16px;
}

.items p {
    color: #001931;
    font-size: 16px;
}

/* Early access section */
#early-access {
    width: 1360px;
    height: 384px;
    background-color: #F7F6F2;
    border: 1px solid #F7F6F2;
    border-radius: 12px;
    margin: 0 auto;
    text-align: center;
}

.early-access-container {
    margin: 80px 40px;
}

.early-access-container h2 {
    color: #001931;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}

.early-access-container p {
    color: #627382;
    font-size: 16px;
    margin-bottom: 24px;
}

.early-access-container button {
    background-color: #469165;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 16px;
    width: 194px;
    height: 52px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 6px 50px 0 #00000025;
    padding: 16px;
}